# API configuration
APP_HOST=0.0.0.0
APP_PORT=8000
AUTH_TOKEN=local-dev-token
SERVICE_NAME=iot-ingestion
SERVICE_VERSION=1.0.0
ENV=demo-day

# MQTT configuration (Change these before starting)
MQTT_HOST=replace-me-host.hivemq.cloud
MQTT_PORT=8883
MQTT_USERNAME=replace-me
MQTT_PASSWORD=replace-me
MQTT_INPUT_TOPIC=smart-campus/raw/iot/environment
MQTT_OUTPUT_TOPIC=smart-campus/events/sensor